@use '../../presentation/styles/marks'
@use '../../presentation/styles/typography'

@layer components
  .group-label
    align-items: baseline
    display: inline-flex
    gap: var(--mark-gap)
    min-width: 0

    .group-tab
      @include marks.colour-tab(var(--group-color))

      align-self: center

    .group-acronym
      @include typography.emphasis

      text-decoration: none
