@layer components
  .filter-bar
    border: none
    display: grid
    gap: var(--space-m)
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr))
    min-width: 0

    > .divider-tabs
      align-self: end
      grid-column: 1 / -1
